<div class="container">
    <div class="wrapp_footer">
        <div class="block_navigation_footer">
            <div class="left_block">
                <img src="assets/header/Logo.svg" alt="logo">
                <p>We believe in the power of play to foster creativity, problem-solving skills, and imagination.</p>
                <div class="block_social">
                    <p><img src="assets/footer/email.svg" alt="email">hello&#64;littlelearners.com</p>
                    <p><img class="phone_padding" src="assets/footer/phone.svg" alt="phone">+91 91813 23 2309</p>
                    <p><img class="addres_padding" src="assets/footer/addres.svg" alt="addres">Somewhere in the World</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Our Testimonials</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <ul>
                    <li>About Us</li>
                    <li><a href="">Our Mission</a></li>
                    <li><a href="">Our Vission</a></li>
                    <li><a href="">Awards and Recognitions</a></li>
                    <li><a href="">History</a></li>
                    <li><a href="">Teachers</a></li>
                </ul>
                <ul>
                    <li>Academics</li>
                    <li><a href="">Special Features</a></li>
                    <li><a href="">Gallery</a></li>
                </ul>
                <ul>
                    <li>Contact Us</li>
                    <li><a href="">Information</a></li>
                    <li><a href="">Map & Direction</a></li>
                </ul>
            </nav>
        </div>
        <div class="block_terms">
            <div class="block_polici">
                <p>Terms of Service</p>
                <p class="style_border">Privacy Policy</p>
                <p>Cookie Policy</p>
            </div>
            <div class="block_social_media">   
                <img src="assets/footer/facebook.svg" alt="facebook">
                <img src="assets/footer/twitter.svg" alt="twitter">
                <img src="assets/footer/LN.svg" alt="LN">
            </div>
        </div>
        <div class="block_autor">
            <p>Copyright © [2023] Little Learners Academy. All rights reserved.</p>
        </div>
    </div>
</div>