<div class="container">
    <div class="wrapp_admision_block">
        <div class="abstract_left">
            <img src="assets/header/Abstract_Design.svg" alt="Abstract_Design">
            <img class="position" src="assets/header/Abstract_Design2.svg" alt="Abstract_Design2">
        </div>
        <div class="block_text">
            <p>Admission is Open, Grab your seat now</p>
        </div>
        <div class="abstract_right">
            <img src="assets/header/Abstract_Design3.svg" alt="Abstract_Design3">
            <img src="assets/header/Abstract_Design4.svg" alt="Abstract_Design4">
        </div>
    </div>
    <nav>
        <div class="block_logo">
            <img src="assets/header/Logo.svg" alt="Logo">
        </div>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Academics</li>
            <li>Admissions</li>
            <li>Student Life</li>
            <li>Contact</li>
        </ul>
    </nav>
</div>