/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFEFE5;
}
img {
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1339px;
    width: 100%;
    margin: 0 auto;
}